
__pycache__/presentation.cpython-310.pyc
__pycache__/db.cpython-310.pyc
views/__pycache__/__init__.cpython-310.pyc
views/__pycache__/home.cpython-310.pyc
views/__pycache__/nadador_form.cpython-310.pyc
my_database.db
my_database.db
